<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ViewPdf</servlet-name>
        <servlet-class>testPackage.ViewPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPdf</servlet-name>
        <servlet-class>testPackage.ConfirmPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectPdf</servlet-name>
        <servlet-class>testPackage.RejectPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadReceiver</servlet-name>
        <servlet-class>testPackage.UploadReceiver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewPdf</servlet-name>
        <url-pattern>/ViewPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPdf</servlet-name>
        <url-pattern>/ConfirmPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectPdf</servlet-name>
        <url-pattern>/RejectPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadReceiver</servlet-name>
        <url-pattern>/UploadReceiver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
